<launch>
    <arg name="id" default="0"/>
    <arg name="uri" default="radio://0/80/250K"/>
    <arg name="data_only" default="False"/>

    <node name="controller_node$(arg id)" pkg="crazyflie" type="controller_node.py" output="screen">
        <param name="id" value="$(arg id)"/>
        <param name="uri" value="$(arg uri)"/>
    </node>

    <node name="cf_node$(arg id)" pkg="crazyflie" type="cf_node.py" output="screen">
        <param name="id" value="$(arg id)"/>
        <param name="uri" value="$(arg uri)"/>
        <param name="data_only" value='$(arg data_only)'/>
    </node>

    <node name="cam_node$(arg id)" pkg="crazyflie" type="py3_cam_node.py" output="screen">
        <param name="id" value="$(arg id)"/>
    </node>

</launch>
